# Dependencies
node_modules

# Security: dotenv environment variables
.env
.env.test
*.env

#Hardhat Files
cache
artifacts
.DS_Store
*.bin.icloud
*.icloud

# Compilation Files
*bin
build*
build/contracts